@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.landing-bg {
  background-image: url("./images/pngwing.com2.png"), linear-gradient(rgba(110, 151, 255, 0.85), rgba(70, 70, 70, 0.85));
  background-position: center center;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-p {
  color: white;
  margin: 0;
}

.box {
  background-color: transparent;
  border: 1px solid transparent;
  min-height: 50px;
  font-size: 2rem;
}
